.col-md-6 {
  background-color: aquamarine;
  min-height: 400px;
}

#pizzaBox {
  background-color: aquamarine;
  height: 
}

body {
  background-color: blue;
}

.jumbotron {
  background-color: aquamarine;
}

.total {
  font-size: large;

}